.display-3 {
  text-align: center;
  margin-top: 40px;
  font-weight: bolder;
}

.subtitle {
  text-align: center;
  font-size: 40px;
  font-weight: nomal;
}

.jumbotron {
  background-image: url(https://raw.githubusercontent.com/asayuusk8/asayuusk8.github.io/master/forest-4812586_1280.jpg);
  color: white;

}

.contents {
  text-align: center;
  padding: 15px 0px 15px 0px;
  background-color: cornsilk;
}

.item {
  padding: 10px 0px 5px 0px;
}

i {
  margin: auto;
}
